.nav{
    border-bottom: 1px solid rgb(184, 184, 184);
    height: 84px;
    padding: 0% 5%;
    /* display: grid; */
    font-size: 16px;
    font-family: var(--font-sans);
    position: fixed;
    width: 100%;
    
    z-index: 1000;
}

.transparente{
    background: rgba(250, 251, 252, 0.765);
    backdrop-filter: blur(20px);
}

.texto-cor{
    color: var(--azul);
    display: inline-flex;
    margin: 0px;
    padding: 0px;
}

.alinhamento-nave{
    display: flex;
    gap: 20px;
    color: var(--azul-cinza);
    list-style: none;
}

.alinhamento-nave li:hover{
    color: rgb(5, 5, 5);
}

.menu{
    display: block;
    /* display: none; */
    justify-content: flex-end;
}

.aberto{
    content: url(../img/menu-aberto.png);
}

.fechado{
    content: url(../img/simbolo-x.png);
}

.img-menu{
    width: 20px;
}

.alinhamento-nave-menu{
    border-top: 1px solid rgb(184, 184, 184);
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    color: var(--azul-cinza);
    list-style: none;
    flex-direction: column;
    margin-top: 20px;
}

.nova-nav{
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    justify-content: space-between;
    
}

@media (min-width: 768px) {
    .menu{
        display: none;
    }
}

